
@font-face {
    font-family: 'codeBold';
    src: url('../fonts/CODE%20Bold.otf');
}

@font-face {
    font-family: 'edmondSans';
    src: url('../fonts/Edmondsans-Regular.otf');
}

@font-face {
    font-family: 'varela';
    src: url('../fonts/VarelaRound-Regular.ttf');
}

body
{
    background-color:#eceff1 ;
}

h1
{
    margin-top: 20px;
}
.centered
{
    text-align: center;
}

.cyan
{
    color:#1ba1e2
}

.varela
{
    font-family: varela;
}

#home_pic
{
    width:10%;
    min-width: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.link_div
{
    padding-top: 50px;
    //background-color: #00e676;
    min-height: 300px;
    font-family: varela;
    font-size: 2rem;
    text-align: center;
    color: white;

}

#color_link
{
    background-color: #9c27b0;
}

.pic
{
    width:20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 200px;
    min-width: 120px;
}
#flat_pic
{
    width:20%;

    max-width: 200px;
}
#font_link
{
    background-color: #c62828;
}

#other_link
{
    //background-color:#00e676 ;
}

