@font-face {
    font-family: edmondSansRegular;
    src: url(fonts/Edmondsans-Regular.otf);
}

@font-face {
    font-family: edmondSansBold;
    src: url(fonts/Edmondsans-Bold.otf);
}

@font-face {
    font-family: proxima;
    src: url(fonts/Proxima.otf);
}

@font-face {
    font-family: ralewayLight;
    src: url(fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: ralewayRegular;
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: ralewayBold;
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: openSans;
    src: url(fonts/opensans-webfont.ttf);
}

@font-face {
    font-family: latoLight;
    src: url(fonts/Lato-Light_0.ttf);
}

@font-face {
    font-family: latoRegular;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: allerRegular;
    src: url(fonts/Aller_Rg.ttf);
}

@font-face {
    font-family: allerLight;
    src: url(fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: allerBold;
    src: url(fonts/Aller.ttf);
}

@font-face {
    font-family: aleoLight;
    src: url(fonts/Aleo-Light.otf);
}

@font-face {
    font-family: aleoRegular;
    src: url(fonts/Aleo-Regular.otf);
}

@font-face {
    font-family: aleoBold;
    src: url(fonts/Aleo-Bold.otf);
}

@font-face {
    font-family: bariol;
    src: url(fonts/Bariol_Regular.otf);
}

@font-face {
    font-family: mido;
    src: url(fonts/Mido.otf);
}

@font-face {
    font-family: loveloLight;
    src: url(fonts/Lovelo-Line-Light.otf);
}

@font-face {
    font-family: loveloBlack;
    src: url(fonts/Lovelo-Black.otf);
}

@font-face {
    font-family: codeLight;
    src: url(fonts/CODE-Light.otf);
}

@font-face {
    font-family: codeBold;
    src: url(fonts/CODE-Bold.otf);
}

@font-face {
    font-family: chunkfive;
    src: url(fonts/Chunkfive.otf);
}

@font-face {
    font-family: sintonyBold;
    src: url(fonts/Sintony-Bold.otf);
}

@font-face {
    font-family: sintonyRegular;
    src: url(fonts/Sintony-Regular.otf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: varela;
    src: url(fonts/VarelaRound-Regular.ttf);
}











