@font-face {
    font-family: edmondSansRegular;
    src: url(fonts/Edmondsans-Regular.otf);
}

@font-face {
    font-family: edmondSansBold;
    src: url(fonts/Edmondsans-Bold.otf);
}

@font-face {
    font-family: proxima;
    src: url(fonts/Proxima.otf);
}

@font-face {
    font-family: ralewayLight;
    src: url(fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: ralewayRegular;
    src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: ralewayBold;
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: openSans;
    src: url(fonts/opensans-webfont.ttf);
}

@font-face {
    font-family: latoLight;
    src: url(fonts/Lato-Light_0.ttf);
}

@font-face {
    font-family: latoRegular;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: allerRegular;
    src: url(fonts/Aller_Rg.ttf);
}

@font-face {
    font-family: allerLight;
    src: url(fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: allerBold;
    src: url(fonts/Aller.ttf);
}

@font-face {
    font-family: aleoLight;
    src: url(fonts/Aleo-Light.otf);
}

@font-face {
    font-family: aleoRegular;
    src: url(fonts/Aleo-Regular.otf);
}

@font-face {
    font-family: aleoBold;
    src: url(fonts/Aleo-Bold.otf);
}

@font-face {
    font-family: bariol;
    src: url(fonts/Bariol_Regular.otf);
}

@font-face {
    font-family: mido;
    src: url(fonts/Mido.otf);
}

@font-face {
    font-family: loveloLight;
    src: url(fonts/Lovelo-Line-Light.otf);
}

@font-face {
    font-family: loveloBlack;
    src: url(fonts/Lovelo-Black.otf);
}

@font-face {
    font-family: codeLight;
    src: url(fonts/CODE-Light.otf);
}

@font-face {
    font-family: codeBold;
    src: url(fonts/CODE-Bold.otf);
}

@font-face {
    font-family: chunkfive;
    src: url(fonts/Chunkfive.otf);
}

@font-face {
    font-family: sintonyBold;
    src: url(fonts/Sintony-Bold.otf);
}

@font-face {
    font-family: sintonyRegular;
    src: url(fonts/Sintony-Regular.otf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: varela;
    src: url(fonts/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: gothamRegular;
    src: url(fonts/Gotham-Medium.ttf);
}

@font-face {
    font-family: gothamBold;
    src: url(fonts/Gotham-Bold_0.otf);
}

@font-face {
    font-family: gothamLight;
    src: url(fonts/Campton-LightDEMO.otf);
}

@font-face {
    font-family: camptonBold;
    src: url(fonts/Campton-BoldDEMO.otf);
}

@font-face {
    font-family: camptonLight;
    src: url(fonts/Gotham-Light_0.otf);
}

@font-face {
    font-family: gen;
    src: url(fonts/Gen-Light.otf);
}

@font-face {
    font-family: moonBold;
    src: url(fonts/Moon_Bold.otf);
}

@font-face {
    font-family: moonLight;
    src: url(fonts/Moon_Light.otf);
}

@font-face {
    font-family: nowBold;
    src: url(fonts/Now-Bold.otf);
}

@font-face {
    font-family: nowRegular;
    src: url(fonts/Now-Regular.otf);
}

@font-face {
    font-family: nowLight;
    src: url(fonts/Now-Light.otf);
}

@font-face {
    font-family: quicksandBold;
    src: url(fonts/Quicksand-Bold.otf);
}

@font-face {
    font-family: quicksandRegular;
    src: url(fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: quicksandLight;
    src: url(fonts/Quicksand-Light.otf);
}

@font-face {
    font-family: zonaproBold;
    src: url(fonts/ZonaPro-Bold.otf);
}

@font-face {
    font-family: zonaproThin;
    src: url(fonts/ZonaPro-Thin.otf);
}

@font-face {
    font-family: simplifica;
    src: url(fonts/SIMPLIFICA_Typeface.ttf);
}







