
body {
    background-color: #ecf0f1;
    font-family: latoLight;
    color: #607d8b;

}

.centered {

    text-align: center;

}

#title {
    font-size: 3rem;
    color: #607d8b;
    border-bottom: solid 1px #f04124;
}

#subtitle {
    color: #607d8b;
    font-family: latoLight;
    font-size: 5rem;
    margin-top: -40px;

}

#boss {
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 20%;
}

#scroll {
    font-size: 2rem;
    margin-top: -40px;
    color: #607d8b;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.font_name {
    font-size: 2rem;
}

.huge_title {
    font-size: 4rem;
}

.victim_title {
    font-size: 2rem;
}

.paragraph {
    font-size: 1.3rem;
}

#download {
    font-size: 1.5rem;
    text-decoration: none;
    color: #647687;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 30%;
}

#download:hover {
    color: #F5F5F5;
}

.separator {
    margin-top: 30px;
    border-bottom: 30px solid #607d8b;
}

.edmond {
    font-family: edmondSansRegular;
}

.edmondBold {
    font-family: edmondSansBold;
}

.proxima {
    font-family: proxima;
}

.ralewayLight {
    font-family: ralewayLight;
}

.ralewayRegular {
    font-family: ralewayRegular;
}

.ralewayBold {
    font-family: ralewayBold;
}

.openSans {
    font-family: openSans;
}

.latoLight {
    font-family: latoLight;
}

.latoRegular {
    font-family: latoRegular;
}

.latoBold {
    font-family: latoBold;
}

.allerRegular {
    font-family: allerRegular;
}

.allerLight {
    font-family: allerLight;
}

.allerBold {
    font-family: allerBold;
}

.aleoLight {
    font-family: aleoLight;
}

.aleoRegular {
    font-family: aleoRegular;
}

.aleoBold {
    font-family: aleoBold;
}

.bariol {
    font-family: bariol;
}

.mido {
    font-family: mido;
}

.loveloLight {
    font-family: loveloLight;
}

.loveloBlack {
    font-family: loveloBlack;
}

.codeLight {
    font-family: codeLight;
}

.codeBold {
    font-family: codeBold;
}

.chunkfive {
    font-family: chunkfive;
}

.sintonyBold {
    font-family: sintonyBold;
}

.sintonyRegular {
    font-family: sintonyRegular;
}

.roboto {
    font-family: roboto;
}

.varela {
    font-family: varela;
}

.gothamRegular {
    font-family: gothamRegular;
}

.gothamBold {
    font-family: gothamBold;
}

.gothamLight {
    font-family: gothamLight;
}

#fonts_list {
    max-height: 100%;
    overflow-y: scroll;
    padding-top: 20px;

    color: #607d8b;
}

#content_div {
    position: relative;
    width: 70%;
    margin-left: 5%;
}

#huge_title {
    font-size: 4rem;
    color: #647687;

}

#victim_title {
    font-size: 2rem;
    color: #647687;

}

#text_title {
    font-size: 1.3rem;
    color: #647687;

}

.font_item {
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 5px;

}