
@font-face {
    font-family: 'varela';
    src: url('../fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'latoLight';
    src: url('../fonts/Lato-Light_0.ttf');
}

.centered
{
    text-align: center;
}

body{
    font-family: latoLight;
}

h1,h2
{
    color: #8870FF;

    font-size: 5rem;
}


#home_section
{
    background-image:url("../pics/flat1.png") ;
    background-size: cover;
}
.home_div
{
    margin-top: 8%;
}

#h1_home
{
    font-family: latoLight;
    color: #F5F5F5;
}

#h2_home
{
    font-family:varela ;
    color: #F5F5F5;

}

#home_icon
{
    width:50%;
}

#home_king
{
    margin-top: 500px;
    font-family: latoLight;
    color: #F5F5F5;
    text-align: center;
}


.menu_item
{
    background-color: #8870FF;
    color: white;
    min-height: 200px;
    padding-top: 100px;
    border: solid 1px white;
    font-family: latoLight;
    font-size: 1.5rem;
}


.section_title
{
    //width:60%;
    border-bottom: solid 2px #8870FF;
}

h4
{
    color: #8870FF;
    font-family: latoLight;
    text-align: center;

}

#what_title
{
    margin-top: 20%;
}