@font-face {
    font-family: 'codeBold';
    src: url('../fonts/CODE%20Bold.otf');
}

@font-face {
    font-family: 'edmondSans';
    src: url('../fonts/Edmondsans-Regular.otf');
}

@font-face {
    font-family: 'varela';
    src: url('VarelaRound-Regular.ttf');
}

h2
{
    color: #1abc9c;
    text-align: center;
    font-family: Segoe UI,varela, Calibri;
    font-size: 4rem;
}

#popup
{
    width: 50%;
    height: 20%;
    position: absolute;
    z-index: 999;
    background-color: #1abc9c;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.varela
{
    font-family: varela;
}

.color_div
{
    min-height: 200px;
    color: white;
    font-size: 2rem;
}

.centered {
    text-align: center;
}

#palette_switcher {
}

#palette_text {
    font-family: varela;
    font-size: 1.2rem;
    margin-top: 20px;
}

#light_grey, #thin_grey
{
    color: #888888;
}

.main {
    min-height: 200px;
    color: white;
    font-size: 1.4rem;

}

.main {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.main:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main:hover:before, .main:focus:before, .main:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.value {
    font-size: 1px;
}







